@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

$font-family-sans-serif:              'Lato', sans-serif;

$colors: (

  /* gray palette */
  black:            #000000,
  gray:             #363636,
  white:            #FFFFFF,

);
